<a href="https://colab.research.google.com/github/skanse123/31031421031_NLP_Assignment/blob/main/Saurabh_NLP_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scikit-fuzzy
!pip install nltk
import nltk
import pandas as pd
nltk.download('all')
!pip install beautifulsoup4
!pip install lxml

In [10]:
from bs4 import BeautifulSoup
data_file = "/content/sample_data/uk_england_london_130_queensgate_london_apartments"
csv_file = "/content/sample_data/uk_england_london_130_queensgate_london_apartments.csv"
with open(data_file) as txt_file:
    data = txt_file.read()
soup = BeautifulSoup(data, 'lxml')
csv_data = []
csv_data.append(["date","review","short_review"])
for doc_tag in soup.find_all("doc"):
    raw_data = []
    raw_data.append(doc_tag.find("date").text)
    raw_data.append(doc_tag.find("review").text)
    raw_data.append(doc_tag.find("short_review").text)
    csv_data.append(raw_data)
import csv

def write_csv(file,data):
    with open(file, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerows(data)
write_csv(csv_file,csv_data)

In [11]:
import pandas as pd
df = pd.read_csv(csv_file)
df.head(5)

,date,review,short_review
0,08/14/2007,I've stayed at the Queensgate on several occas...,Good for a short stay in Central London
1,10/17/2006,We stayed at 130 Queensgate Apartments for 6 d...,Good value for London
2,08/09/2006,"Having read the reviews on this site, I though...",Make sure you have good theft insurance.
3,08/08/2006,"This is a foul hotel. From the dingy, peeling ...",Foul hotel
4,06/12/2006,"130 Queensgate is, as others state, a bit drea...",Functional in a good location

In [12]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [13]:
threshold_lower = 0.4
threshold_upper = 0.85

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

scores = []
rating = []

for i in df["review"]:
    if sid.polarity_scores(i)["compound"] < threshold_lower:
        rating.append("Negative")
    elif sid.polarity_scores(i)["compound"] < threshold_upper:
        rating.append("Neutral")
    else:
        rating.append("Positive")
    scores.append(sid.polarity_scores(i)["compound"])
df["Comment_Rating"] = scores
df["Feedback"] = rating
df.head(10)

,date,review,short_review,Comment_Rating,Feedback
0,08/14/2007,I've stayed at the Queensgate on several occas...,Good for a short stay in Central London,0.9866,Positive
1,10/17/2006,We stayed at 130 Queensgate Apartments for 6 d...,Good value for London,0.9875,Positive
2,08/09/2006,"Having read the reviews on this site, I though...",Make sure you have good theft insurance.,-0.5462,Negative
3,08/08/2006,"This is a foul hotel. From the dingy, peeling ...",Foul hotel,-0.9686,Negative
4,06/12/2006,"130 Queensgate is, as others state, a bit drea...",Functional in a good location,0.9652,Positive
5,06/06/2006,I just came back from 8 days at 130 Queensgate...,Facelift due in September 2006 is due,0.9725,Positive
6,05/30/2006,"I stayed here a few years back, I must admit, ...",Only OK,0.9600,Positive
7,05/12/2006,Was hesitant about staying at 130 Queensgate a...,Location location location,0.9839,Positive
8,05/14/2006,Two of us stayed here last December.The apartm...,@ 99 a night it's ok,-0.9400,Negative
9,01/21/2006,The biggest plus was the size of the apartment...,Good rate in a reasonable area,0.9696,Positive